<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="34438m.k.Snes8x" Publisher="CN=m.k" Version="1.16.0.1" />
  <Properties>
    <DisplayName>Snes8x</DisplayName>
    <PublisherDisplayName>m.k</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Win8Snes9x.App">
      <VisualElements DisplayName="Snes8x" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A free SNES emulator based on Snes9x." ForegroundText="light" BackgroundColor="#0C91FF">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0C91FF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>